@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: beige;
}
/*NAV*/
header {
  height: 6vh;
  background-color: gray;
  text-align: center;
}
.navigation {
  display: flex;
  justify-content: space-between;
  height: 70px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  align-items: center;
  color: black;
  font-size: 26px;
}
.logo-list {
  display: flex;
  justify-content: space-around;
}
